.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  float: right;
}
.navbar a {
  text-align: center;
  color: var(--black);
  padding: 18px 10px;
}

.btn-group {
  margin-top: 10px;
  width: 100%;
}
.btn-group .btn-danger {
  background-color: var(--red);
  border: none;
}
.dropdown-menu {
  width: 100%;
}
.percent {
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.percent:hover {
  background-color: var(--red);
}
.buttonpopup {
  direction: ltr;
}
