{% extends 'base.html' %}
{%block TITLE%}Password required{%endblock%}
{% block content %}
<h1>Password required</h1>
<p>
You need a password to access this page.
{% if user.is_authenticated %}To proceed, please login with an account that has access.{% endif %}
</p>
<form action="{{ action_url }}" method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div>
        {{ form.password.errors }}
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
<input type="submit" value="Continue" />
</form>