.h1divhead {
  background-color: black;
  color: var(--red);
  width: 100%;
  height: 180px;
  opacity: 0.5;
}
.blogh1 {
  text-align: center;
  padding-top: 50px;
}

.blogs {
  margin-top: 10px;
  margin-right: 20px;
}
.card {
  width: 300px !important;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}
.card:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);
}
.aside {
  margin-top: 20px;
}
.asidearchive {
  background-color: aqua;
  width: 100%;
  height: 50px;
}

.card a:hover::after {
  content: ". . .";
}

.card span {
  font-size: 11px;
  display: inline;
  list-style-type: none;
  text-align: right;
}
.plusbutton {
  text-align: center;
  margin-bottom: 20px;
}
