{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load jalali_tags %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock %}
{% block TITLE %}{{ page.title }}{% endblock %}
{% block CONTENT %}
<header class="headerblog">
    <div class="h1divhead">
        <h1 class="blogh1 white-color">{{ page.title }}</h1>
      <h1 class="blogh1 white-color"></h1>
    </div>
  </header>
  <section class="container-fluid">
    <div class="container">
      <div class="row">
        <section
          class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 blogs"
        >
          <div class="row">
            {% for post in posts %}
            <div class="card" style="width: 18rem">
              <div class="card-body">
                    <h3 class="card-title h3">{{post.title}}</h3>
                    <span class="bi bi-person">2020Black</span><br>
                    {% with categories=post.collection.all %}
                        {% if categories %}
                            {% for category in categories %}
                                <span class="bi bi-folder2-open">{{ category.name }}</span><br>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <span class="card-text">{{ post.title|richtext }}</p><br>
                    <p class="card-text"{{ post.title|richtext }}></p>
                    <span class="bi bi-calendar3">{{ post.jpub}}</span></p>
                    <a href="{% pageurl post %}">مشاهده بیشتر</a>
                    
                      </div>
              
                    </div>
                  {% endfor %}
                  </div>
            </section>

    </div>
    {# Only show pagination if there is more than one page to click through #}
    {% if posts.paginator.num_pages > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination">
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ posts.previous_page_number }}" class="page-link">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page_num in posts.paginator.page_range %}
                            <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                                <a href="?page={{ page_num }}" class="page-link">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if posts.has_next %}
                            <li class="page-item">
                                <a href="?page={{ posts.next_page_number }}" class="page-link">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
            
{% block JS %}
<script
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
crossorigin="anonymous"
></script>
{%endblock%}
{% endblock %}


