{% load static %} 
    <footer>
      <!-- start footer 1  -->
      <div
        class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 border-bottom border-top footer1"
      >
        <form action="">
          <label
            >همیشه اولین نفر باشید! برای اطلاع از آخرین تخفیف‌ها و جدیدترین
            کالاها در خبرنامه ثبت‌نام کنید.
          </label>
          <input
            type="email"
            name="email"
            placeholder="آدرس ایمیل خود را وارد کنید"
          />
          <input type="submit" name="submit" value="عضویت" />
        </form>
      </div>
      <!-- start footer 2  -->
      <div class="container-fluid border-bottom footer2">
        <div class="container text-center">
          <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
              <h3 class="h4">برند ها</h3>
              <ul>
                <li><span class="bi bi-caret-left"></span> کیف دستی</li>
              </ul>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
              <h3 class="h4">دسته بندی ها</h3>
              <ul>
                <li><span class="bi bi-caret-left"></span> کیف دستی</li>
              </ul>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
              <h3 class="h4">آخرین مقالات</h3>
              <ul>
                <li><span class="bi bi-caret-left"></span> کیف دستی</li>
              </ul>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
              <h3 class="h4">نماد های اعتباری</h3>

              <div
                id="carouselExampleSlidesOnly"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'img/index/enmad.png' %}" class="d-block w-50" alt="..." />
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/index/enmad.png' %}" class="d-block w-50" alt="..." />
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/index/enmad.png' %}" class="d-block w-50" alt="..." />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 footer3">
        <p class="icon-color">
          تمامی حقوق مادی و معنوی مطعلق به وب سایت
          <a href="http://2020black.com/">2020black.com</a>
          محفوظ است.
        </p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"
    ></script>